

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Post-Divider{
  border-bottom-width: medium !important;
}

.Form{
  margin-bottom: 2%;
}

.Delete-Button{
  
}

.Blog-Page{
  width: 75%;
  margin-top: 3%;
  margin-left: 3%;
}

.Blog-Form{
  margin-bottom: 3%;
}

.Text-Field{
  width: 85%;
}